.wrapper{
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  .contentBlock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 6.5vw;
    position: relative;
    .background{
      position: absolute;
      left: -10vw;
      top: -1vw;
      z-index: -1000;
      font-family: goshaSans;
      font-style: normal;
      font-weight: bold;
      font-size: 58vw;
      color: rgba(170, 198, 252, 0.2);
    }
    h1{
      font-family: goshaSans;
      font-style: normal;
      font-weight: bold;
      font-size: 3.5vw;
      line-height: 3.9vw;
      color: #E0719E;
      margin-bottom: 5vw;
    }
    .cartsBlock{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      >div:nth-child(3n){
        div{
          border: 2px solid #321179;
        }
      }
      >div:nth-child(3n-1){
        div{
          border: 2px solid #F7CA2F;
        }
      }
      >div:nth-child(3n-2){
        div{
          border: 2px solid #7FD6C2;
        }
      }
      >div:nth-last-child(1), >div:nth-last-child(2), >div:nth-last-child(3){
        margin:0;
      }
      >div{
        width: 26%;
        margin-bottom: 9vw;
        position: relative;
        >div{
          position: absolute;
          top: -4px;
          left: 8px;
          z-index: 1000;
          width: 100%;
          height: 24vw;
        }
        img{
          width: 100%;
          height: 24vw;
          background-color: #b6b5b5;
        }
        p{
          font-family: goshaSans;
          font-style: normal;
          font-size: 1.2vw;
          line-height: 1.5vw;
          margin-top: 20px;
        }
      }
    }
    .button{
      margin-top: 5vw;
      position: relative;
      width: 25%;
      height: 3.5vw;
      font-family: goshaSans;
      font-size: 1.2vw;
      line-height: 0;
      padding: 0;
      font-style: normal;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.5s ease-in;
      margin-right: 22px;
      background: #F7CA2F;
      color: black;
      div{
        transition: all 0.5s ease-in;
        width: 100%;
        height: 3.5vw;
        position: absolute;
        top: -3px;
        left: -3px;
        border: 1px solid black;
        z-index: -100;
      }
      &:hover{
        cursor: pointer;
        border: 1px solid black;
        background: none;
      }
    }
  }
}